<p id="notice"><%= notice %></p>

<p>
  <strong>Title setting trunk:</strong>
  <%= @totalconfig.title_setting_trunk %>
</p>

<p>
  <strong>Title app:</strong>
  <%= @totalconfig.title_app %>
</p>

<p>
  <strong>Template channel:</strong>
  <%= @totalconfig.template_channel %>
</p>

<p>
  <strong>Is Random Peer:</strong>
  <%= @totalconfig.is_random_peer %>
</p>

<%= link_to 'Edit', edit_totalconfig_path(@totalconfig) %> |
<%= link_to 'Back', totalconfigs_path %>
