<%= form_with(model: statsp, local: true) do |form| %>
  <% if statsp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statsp.errors.count, "error") %> prohibited this statsp from being saved:</h2>

      <ul>
      <% statsp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :countreg %>
    <%= form.number_field :countreg, id: :statsp_countreg %>
  </div>

  <div class="field">
    <%= form.label :freeoper %>
    <%= form.number_field :freeoper, id: :statsp_freeoper %>
  </div>

  <div class="field">
    <%= form.label :newsps %>
    <%= form.number_field :newsps, id: :statsp_newsps %>
  </div>

  <div class="field">
    <%= form.label :abonqueue %>
    <%= form.number_field :abonqueue, id: :statsp_abonqueue %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
