<p id="notice"><%= notice %></p>

<p>
  <strong>Countreg:</strong>
  <%= @statsp.countreg %>
</p>

<p>
  <strong>Freeoper:</strong>
  <%= @statsp.freeoper %>
</p>

<p>
  <strong>Newsps:</strong>
  <%= @statsp.newsps %>
</p>

<p>
  <strong>Abonqueue:</strong>
  <%= @statsp.abonqueue %>
</p>

<%= link_to 'Edit', edit_statsp_path(@statsp) %> |
<%= link_to 'Back', statsps_path %>
