<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @blf.uid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blf.status %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @blf.direction %>
</p>

<p>
  <strong>Other leg:</strong>
  <%= @blf.other_leg %>
</p>

<p>
  <strong>Other leg domain:</strong>
  <%= @blf.other_leg_domain %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @blf.rank %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @blf.uuid %>
</p>

<%= link_to 'Edit', edit_blf_path(@blf) %> |
<%= link_to 'Back', blves_path %>
